<div class="container">
  <div class="row">
    <section class="col-sm-3">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Buddies List <span class="glyphicon glyphicon-plus pull-right" aria-hidden="true"></span> </h3>
        </div>
        <div class="panel-body">
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Friend 1
        </div>
        <div class="panel-body">
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Friend 2
        </div>
      </div>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Groups you have <span class="glyphicon glyphicon-plus pull-right" aria-hidden="true"></span> </h3>
        </div>
        <div class="panel-body">
          <span class="glyphicon glyphicon-home" aria-hidden="true"></span> Group 1
        </div>
        <div class="panel-body">
          <span class="glyphicon glyphicon-home" aria-hidden="true"></span> Group 2
        </div>
      </div>
    </section>
    <section class="col-sm-7">

    </section>
  </div>

</div>
